<div class="container">
<h1>This is a star page <%= @star.name %></h1>

<%= link_to "Book the star", new_star_booking_path(@star.id) %>
</div>




<div class="container">

<div class="row justify-content-center">
    <div class="col-12 col-lg-9">



      <div class="card-product">
       <img src="<%= @star.img%>" alt="image of the star">
        <div class="card-product-infos">
          <h2><%= star.name%></h2>
          <p>star description with <strong>relevant info</strong> only.</p>
        </div>
        <div class="card-button">
          <a class="btn btn-success" href="#">Rent</a>
          <a class="btn btn-success" href="#">Review</a>
        </div>
      </div>


</div>
  </div>


</div>








<div class="footer">
  <div class="footer-links">

    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>

<div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
</div>
