
<div class="wrapper">
  <div class="banner video">
    <video src="https://res.cloudinary.com/dgxlwwwxg/video/upload/v1701342378/Galaxy_scene_3d_mtrxo0.mp4" muted autoplay loop>
    </video>
      <div class="main-text">
        <h2>Let's go for a walk...</h2>
                <h1>...On the Stars</h1>
                    <p>
                      And reach for the stars
                    </p>
                    <div class="container">
                  <%= link_to "Stars", stars_path, class: "buttonA" %>
                </div>
      </div>
  </div>


  </div>
