<h1>Stars I own! MUHAHAH MY INFINITE EMPIRE</h1>
<% @stars.each do |star|%>
<p> <%= star.name%> is my epic stars name<p>
<%end%>

<p>Placeholder for creating a new star</p>
<%= link_to "back to home", home_path%>
