<h1>Stars I own! MUHAHAH MY INFINITE EMPIRE</h1>
<% @stars.each do |star|%>
<p> <%= star.name%> is my epic stars name<p>
<%= link_to "delete a star ", star_path(star), data: {turbo_method: :delete, turbo_confirm: "are you sure you want to delete star"}, class: "btn"%>
<%end%>

<%= link_to "create a star", new_star_path, class: "btn"%>
<%= link_to "back to home", home_path, class: "btn"%>
