
#cancelbook{
  border: 1px solid rgba(0, 0, 0, 0.782);
  border-radius: 20px;
  padding: 10px;
}

#cancel {
  background: red;
  border-radius: 20px;
  padding: 10px;
}

#approve {
  background: green;
  border-radius: 20px;
  padding: 10px;
}

#oldbook {
  border-radius: 20px;

}

#reviewbook{
  border-radius: 20px;
  padding: 10px;
}
